.App {
  text-align: center;
  background-color: #ebf7f8;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: black;
}
.modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}
.Main-Container {
  width: 100%;
}
.Agent-Container {
  display: inline-block;
  vertical-align: top;
}
.Map-Container {
  vertical-align: top;
  margin-left: 20%;
  float: left;
}
.legend_container {
  /* border: 1px solid #61dafb; */
  display: flex;
  width: 25rem;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 2%;
}

.legend_image {
  float: left;
  height: 20px;
  width: 15px;
  padding-left: 5px;
}
.legend_icon {
  float: left;
  zoom: 0.6;
  padding-left: 5px;
}
.legend_text {
  float: left;
  padding-left: 5px;
  padding-right: 1rem;
  text-align: center;
  font-size: 12px;
  margin-top: 2px;
}
.legend_row {
  margin-top: 1%;
}
ul {
  list-style: none;
}
li {
  display: inline-table;
}
.legend_header {
  padding-right: 20px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
.legend_btn {
  border: transparent;
  font-size: 14px;
  font-family: Roboto;
  text-decoration: underline;
  background-color: transparent;
}
.legend_btn:hover {
  color: darkblue;
}
.footer_text {
  float: left;
  padding-left: 5px;
  text-align: center;
  font-size: 14px;
  margin-top: 2px;
}
.legend_footer {
  margin: auto;
}

/* Modal Styling */
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: rgb(243, 241, 241);
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  display: inline-block;
}
.modal_header {
  display: inline-block;
  margin-left: 10px;
}
.modal_title {
  font-size: 14px;
  font-family: roboto;
  margin-top: 10px;
  float: left;
}
.modal_map {
  zoom: 0.8;
  margin-top: 10px;
  clear: both;
}
.App-header {
  background-color: #ebf7f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.arrow {
  border: 10px double black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 15px 5px 0px 15px;
  float: left;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 15px 15px 0px 15px;
  float: left;
}

.btn_container {
  display: inline-grid;
}
.map_btn {
  background-color: #4adede;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border-color: #4adede;
  margin: 12px;
  font-family: Roboto;
  padding: 4px 12px 4px 12px;
}
.map_btn:hover {
  background-color: #56bebe;
}
.customise_btn {
  border: transparent;
  background-color: transparent;
  text-decoration: underline;
  color: rgb(53, 168, 221);
  font-size: 14px;
  font-family: Roboto;
}
.customise_btn:hover {
  color: #42a0a0;
}

.closeBtn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border: transparent;
}
.closeBtn:hover {
  opacity: 1;
}
.closeBtn:before,
.closeBtn:after {
  position: absolute;
  left: 15px;
  height: 33px;
  width: 2px;
  background-color: #333;
}
.closeBtn:before {
  transform: rotate(45deg);
}
.closeBtn:after {
  transform: rotate(-45deg);
}
.firstContainer {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 45%;
  border-radius: 5px;
  float: left;
  padding: 10px;
  height: 220px;
  margin: top 10px;
  transition: 0.3s;
  width: 45%;
  border-radius: 5px;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
}
.secondContainer {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 45%;
  border-radius: 5px;
  float: right;
  padding: 10px;
  height: 220px;
  margin: top 10px;
}
.thirdContainer {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 45%;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  height: 220px;
  clear: both;
}
.btnContainer {
  margin-top: 4rem;
  clear: both;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cute-robot-v1 {
  position: fixed;
  right: 5%;
  bottom: 8%;
  zoom: 0.3;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cute-robot-v1 * {
  box-sizing: border-box;
}
.cute-robot-v1 .circle-bg {
  background: #cedbdd;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 8px solid #195272;
  position: relative;
}
.cute-robot-v1 .circle-bg:after {
  content: "";
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: -3px;
  left: 0;
  border-radius: 100%;
  border-bottom: 10px solid #195272;
}
.cute-robot-v1 .circle-bg:hover .robot-face {
  top: 40px !important;
}
.cute-robot-v1 .circle-bg:hover .eyes {
  top: 30px !important;
}
.cute-robot-v1 .circle-bg:hover .mouth {
  background: #195272;
  border: none;
  clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
}
.cute-robot-v1 .circle-bg:hover .mouth:after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  background: #f9bbbb;
  border-radius: 100%;
}
.cute-robot-v1 .circle-bg .robot-head {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  border: 8px solid #195272;
  border-radius: 85px/60px;
  background: #ffffff;
  z-index: 4;
}
.cute-robot-v1 .circle-bg .robot-head:after {
  content: "";
  position: absolute;
  top: -30px;
  height: 30px;
  width: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #195272;
}
.cute-robot-v1 .circle-bg .robot-head:before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  width: 20px;
  background: #cedbdd;
  border: 8px solid #195272;
  border-radius: 100%;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face {
  height: 120px;
  width: 160px;
  background: #cedbdd;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid #195272;
  transition: all 200ms;
  border-radius: 45px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .eyes {
  height: 20px;
  width: 20px;
  background: #195272;
  border-radius: 100%;
  position: absolute;
  transition: all 200ms;
  top: 40px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .eyes.left {
  left: 30px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .eyes.right {
  right: 30px;
}
.cute-robot-v1 .circle-bg .robot-head .robot-face .mouth {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 8px solid transparent;
  border-bottom-color: #195272;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  overflow: hidden;
}
.cute-robot-v1 .circle-bg .robot-ear {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: #ffffff;
  border: 8px solid #195272;
  z-index: 3;
  top: 30px;
}
.cute-robot-v1 .circle-bg .robot-ear.left {
  left: -20px;
}
.cute-robot-v1 .circle-bg .robot-ear.right {
  right: -20px;
}
.cute-robot-v1 .circle-bg .robot-body {
  height: 50px;
  width: 100px;
  border: 8px solid #195272;
  background: #ffffff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px 25px 30px 30px;
}
.modalTitle {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 500;
}
.customiseImage {
  max-width: 100%;
  max-height: 100%;
}
.containerHeader {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.containerDesc {
  font-size: 14px;
  margin-top: 5px;
}
.containerImage {
  width: 300px;
  height: 140px;
  max-width: 100%;
  max-height: 100%;
}
.containerLink {
  color: rgb(53, 168, 221);
  font-weight: 500;
}
.uploadBtn {
  border: none;
  background: transparent;
  text-decoration: underline;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(53, 168, 221);
}
.uploadBtn:hover {
  color: #42a0a0;
}
.containerLink:hover {
  color: #42a0a0;
}
